html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  vertical-align: middle;
}

body {
  background-color: #eee9de;
  margin: 0;
  padding-top: 2em;
  padding-left: .5em;
  text-align: center;
}

section {
  width: 100%;
  max-width: 25em;
  float: left;
}

h2 {
  font-family: Lato, sans-serif;
  font-weight: bold;
  margin-bottom: .75em;
}

p {
  display: block;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

a {
  display: inline-block;
  font-family: Lato, sans-serif;
  color: #333;
  text-decoration: none;
  border-color: #333;
  border: solid;
  border-radius: .5em;
  padding: 1em;
  line-height: 1.5;
}

a:hover {
  display: inline-block;
  color: #fff;
  background-color: #666;
  border-color: #666;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  padding: .75em;
  margin-right: 1.5em;
}

.btn {
  text-align: left;
  padding: .5em;
}
